



#cabecalho {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 4px #0003;
  padding: 30px;
}

#imagem-abelha {
  display: block;
  margin: 0 auto;
}


body {
  background-image: linear-gradient(0deg, blue, #00ff00);
  font-size: 20px;
  margin: 0px 5vh;
  text-align: justify;
  height: 100vh;
}

.curiosidade {
  padding: 10px;
  background-image: url("imgs/favo-de-mel.png");  
  border: 1px solid #ff9730; /* Adjust border properties as needed */
  border-radius: 5px;
}

.curiosidade img {
  margin-right: 20px;
  float: left;
}

.casta-de-abelha-direita {
  border-radius: 50%;
  border: 5px solid #ff9730; /* Adjust border properties as needed */
  float: right;
  margin-left: 20px;
}

.casta-de-abelha-esquerda {
  border-radius: 50%;
  border: 5px solid #ff9730; /* Adjust border properties as needed */
  float: left;
  margin-right: 20px;
}

a:link {
  color: #b35c00;
  text-decoration: none;
}

a:visited {
  color: #6b3700;
  text-decoration: none;
}

a:hover {
  color: #ff9730;
  text-decoration: underline;
}

a:active {
  color: #ff0000;
  text-decoration: underline;
}

a[href^="http"] {
  background-color: #fff8e1;
}

p:last-of-type {
  text-align: right;
}

img:not([alt]) {
  border: 3px solid red;
}
